.small {
    font-size: 12px;
}

.font-monospace {
    font-size: 12px;
}

.height {
    height: 100vh
}

input[type=submit] {
    font-size: 14px;
    width: 185px;
    /* Remove border */
    border-width: 0px;
    border-radius: 15px;
    margin: 20px;
}

.left-pan {
    padding-left: 7px
}

.left-pan i {
    padding-left: 10px
}

.form-input {
    height: 55px;
    text-indent: 33px;
    border-radius: 10px
}

.form-input:focus {
    box-shadow: 1px;
    border: 1px
}

.btn-primary {
    color: white;
    background-color: CornflowerBlue;
    border-color: white;
}

.btn-primary:hover {
    color: #fff;
    background-color: #0069d9;
    border-color: #0062cc;
}

.btn-secondary {
    color: white;
    background-color: DarkGray;
    border-color: white;
}

.btn-secondary:hover {
    color: #fff;
    background-color: DarkGray;
    border-color: white;
}